:root {
  --background: #171717;
  --foreground: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 
.hover-effect:hover {
  background-color: #a5a9ad !important;
  color: #000;
  text-decoration: none;
} */

.dropdown-menu {
  z-index: 1050; /* pastikan di atas navbar */
}

.text-orange {
  color: orange !important;
}
.bg-orange {
  background-color: orange !important;
}

.page-item.active .page-link {
  background-color: orange;
  border-color: orange;
  color: white;
}

.hover-lift {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-lift:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.668);
}

.scroll-x {
  overflow-x: auto;
  width: 100%;
}

.scroll-x table {
  min-width: 800px; /* atau sesuai kebutuhan */
}

.custom-placeholder::placeholder {
  color: rgba(255, 255, 255, 0.5); /* putih semi-transparan */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
